 #game div {
  border: 1px solid white;
  width: 20%;
  height: 200px;
  margin: 10px;
  
} 

#body {
  background-color:navy;
}

#body h1{
  margin-top: 1em;
  font-size: 4em;
  color:red;
}

#choose-level {
  font-size: 40px;
  color: yellow;
  
}


#select-level {
  padding: 1em;
  margin-top: 2em;
  cursor: pointer;
}

#start{
    border-radius: 40px;
    font-size: 20px;
    padding: 8px 30px;
    color: white;
    background-image: linear-gradient(to right, red , yellow);;
    border: none;
    height: 50px;
    margin-top: 2em;
    cursor: pointer;
}

#reset {
  border-radius: 40px;
    font-size: 20px;
    padding: 8px 30px;
    color: white;
    background-image: linear-gradient(to right, red , yellow);;
    border: none;
    height: 50px;
    margin-top: 2em;
    cursor: pointer;
}

